.icon{
    width: 6rem;
    height: 6rem;
    background-color: #ffffa9;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3rem;
}


.sCart{
    padding: 20px 0 0 0;
    width: 3.5rem;
    height: auto;
    color: #191f1f;
}

.icon:hover{
    background-color: #191f1f;
    cursor: pointer;
}

.icon:hover .sCart{
    color: #ffffa9;
}

.icon:hover .count{
    color: #191f1f;
    background-color: #ffffa9;
}

.count{
    margin-bottom: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffa9;
    background-color: #191f1f;
    height: 2rem;
    width: 2rem;
    border-radius: 1rem;
}