.icon{
    width: 6rem;
    height: 6rem;
    background-color: #00981c;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3rem;
}


.sCart{
    padding: 20px 0 0 0;
    width: 3.5rem;
    height: auto;
    color: #191f1f;
}

.sCart:hover{
    cursor: pointer;
    color: #ffffa9;
}

.count{
    margin-bottom: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffa9;
    height: 2rem;
    width: 2rem;
    border-radius: 1rem;
}