.order{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.closeBtn{
    position: absolute;
    display: grid;
    width: 99vw;
    height: 100vh;
    background-color: #191f1f;
    opacity: 0.7;
}

.checkoutpage{
    border-radius: 0.5rem;
    background-color: #ffffa9;
    padding: 2rem;
    opacity: 1;
    position: fixed;
    width: 70vw;
    top: 5vh;
    left: 7vw;
}

.checkoutpage p, h3, button{
    color: #191f1f;
}

.mini{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 1rem;
}

.miniGroup{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mini button{
    height: 2rem;
    width: 2rem;
    background-color: #00981c;
    border-radius: 3rem;
}

.mini button:hover{
    background-color: #191f1f;
    color: #ffffa9;
    cursor: pointer;
}



.mini img{
    height: 16vh;
}

.mini .flavorBox{
    margin-left: 2rem;
    display: flex;
    flex-direction: row;
    align-items: end;
}

.mini .flavorTotal{
    height: 3rem;
    width: 3rem;
    border-radius: 3rem;
    background-color: #00981c;
    position: relative;
    right: 2rem;
    top: 1rem;
}

.mini .flavorTotal p{
    text-align: center;
    line-height: 1.2rem;
}

.mini .flavorCost{
    margin-left: 2rem;
    font-size: 1.1rem;
    min-width: 60px;
}

.bottomModal{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.finalAmount{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-grow: 0.5;
}

.checkoutBtns button{
    background-color: #00981c;
    border-radius: 1.3rem;
    padding: 0.5rem;
}


.checkoutBtns button:hover{
    background-color: #191f1f;
    color: #ffffa9;
    cursor: pointer;
}





.purchasePage{
    border-radius: 0.5rem;
    background-color: #ffffa9;
    padding: 2rem 2rem 4rem;
    opacity: 1;
    position: fixed;
    width: 70vw;
    height: auto;
    top: 25vh;
    left: 7vw;
    text-align: center;
}

.purchasePage h3{
    font-size: 2rem;
}

.purchasePage span{
    color: #00981c;
}

.returnBtn{
    background-color: #00981c;
    border-radius: 1.3rem;
    padding: 0.5rem;
}

.returnBtn:hover{
    background-color: #191f1f;
    color: #ffffa9;
    cursor: pointer;
}



@media (min-width: 768px){
    .miniGroup{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .checkoutpage{
        width: 77vw;
    }

    .mini{
        padding-top: 2rem;
        flex-wrap: wrap;
        width: 50%;
    }

    .mini .flavorCost{
        padding-top: 1rem;
        flex-basis: 100%;
        text-align: center;
    }
}

@media (min-width: 1100px){
    .checkoutpage{
        width: 60vw;
        left: 16vw;
    }
}


@media (max-width: 480px){
    .checkoutpage{
        width: 60vw;
    }
    .mini{
        flex-wrap: wrap;
        padding-bottom: 0.5rem;
    }
    .mini .flavorCost{
        padding-top: 0.8rem;
        flex-basis: 100%;
        text-align: center;
        margin: 0rem 0;
    }
    .mini .flavorCost{
        flex-basis: 100%;
        text-align: center;
    }
    
    .mini img{
        height: 10vh;
    }

    .mini .flavorTotal{
        height: 1.75rem;
        width: 1.75rem;
    }
    
    .mini .flavorTotal p{
        text-align: center;
        line-height: 0rem;
    }
}