.Footer{
    width: 100%;
    background-color: #191f1f;
    display: flex;
    justify-content: space-around;
    padding-bottom: 35px;
}

.Footer .information{

    border-top: 1px solid #00981c;

    padding-top: 20px;
    width: 90%;
    
    display: inline-grid;
    grid-template-columns: 1fr;
    color: #ffffa9;
    font-size: 12px;
    padding: 30px 60px;
}

section{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.Footer p{
    margin: 0px;
}

.isHidden{
    display: none;
    visibility: hidden;
}

a[tabindex]{
    color: #00981c;
}

a[tabindex]:visited{
    color: #00981c;
}

a[tabindex]:active{
    color: #ffffa9;
}



@media (min-width: 1024px){
    .Footer .information{
        grid-template-columns: 1fr 1fr;
    }

    section{
        flex-direction: row;
    }

    .Footer p{
        visibility: visible;
        display: block;
    }
    
}