.Footer{
    width: 100%;
    background-color: #191f1f;
    display: flex;
    justify-content: space-around;
    padding-bottom: 70px;
}

.Footer .information{

    border-top: 1px solid #00981c;

    padding-top: 20px;
    width: 90%;
    
    display: inline-grid;
    grid-template-columns: 1fr;
    color: #ffffa9;
    font-size: 12px;
    padding: 30px 120px;
}

section{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.Footer p{
    margin: 0px;
}

.isHidden{
    display: none;
    visibility: hidden;
}

.underline{
    text-decoration: underline;
}

.underline:hover{
    text-decoration: none;
    cursor: pointer;
}

.contact h3{
    width: 100px;
}


a[tabindex]{
    color: #00981c;
}

a[tabindex]:visited{
    color: #00981c;
}

a[tabindex]:active{
    color: #ffffa9;
}

.portfolio{
    margin-top: 30px;
}


@media (min-width: 640px){
    .Footer .information{
        grid-template-columns: 1fr 1fr;
    }

    .office{
        margin-top: 55px;
    }

    .portfolio{
        margin-top: 0px;
    }
}

@media (min-width: 1024px){
    

    section{
        flex-direction: row;
    }

    .Footer p{
        visibility: visible;
        display: block;
    }

    .office{
        margin-top: 0px;
    }

    .contact p{
        padding-right: 20px;
    }

    .underline{
        text-decoration: none;
    }
    
    .underline:hover{
        text-decoration: none;
        cursor: text;
    }
    
}