.navbar{
    background: radial-gradient(circle at -10% 50%, rgba(255, 255, 169, 1) 0%, rgba(0, 152, 28, 1) 27%);
    width: 100%;
    display: inline-grid;
    height: 95px;
    color: #191f1f;
}

.logo{
    line-height: 27px;
    margin: 0px 20px;
    transition-duration: 500ms;
}

.nav ul{
    list-style-type: none;
    height: 54px;
    width: 90%;
    display: flex;
    gap: 42px;
    visibility: hidden;
    display: block;
}

.nav li{
    line-height: 4em;
    align-self: center;
}

.nav a{
    color: inherit;
    text-decoration: none !important;
}

.navbar li:hover{
    color: rgb(255, 255, 169);
    cursor: pointer;
}


@media (min-width:640px){
    .navbar{
        position: sticky;
        grid-template-columns: 0.7fr 3fr;
        z-index: 1;
        top: 0;
    }
    .navbar-blur{
        opacity: 95%;
        transition-duration: 500ms;
    }
    .logo-hide{
        opacity: 0%;
    }

    .nav ul{
        width: 65vw;
        justify-content: space-between;
        justify-content: space-around;
        visibility:visible;
        display:flex;
    }
}


@media (max-width: 350px){
    .navbar ul{
    }
}
