.products{
    background-color: #191f1f;
    width: 100%;
    padding: 80px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.products h1{
    color: #00981c;
}

.products .items{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    flex-wrap: wrap;
}


.card{
    background-color: #00981c;
    border-radius: 10px;
    width: 320px;
    height: 425px;
    margin: 20px 20px 20px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card img{
    padding: 10px 0px;
}

.card .info{
    display: flex;
    justify-content: space-between;
}

.card p{
    margin: 0px;
}

.card button{
    align-self: center;
    background-color: #ffffa9;
    color: #191f1f;
    border-radius: 5px;
    height: 2rem;
    width: 6rem;
}

.card button:hover{
    background-color: #191f1f;
    color: #ffffa9;
}



@media (min-width: 640px){
    .products .items{
        flex-direction: row;
        justify-content: center;
    }
}

@media (min-width: 1024px){
    .products .items{

    }
}